CompileFlags:
  Remove: 
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
Diagnostics:
  Suppress: 
    - variable_object_no_init
    # You might also want to suppress this one if it pops up:
    - vla_unsupported
